@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

li {
    list-style: none;
}

/*

NAVIGATION BAR STYLES

*/
.nav__wrapper {
    width: 1200px;
    height: 60px;
    padding: 12px 24px;
    display: flex;
    align-items: center;
    margin: 18px;
}

.nav__logo {
    padding: 10px 0;
}

.nav__logo img{
    background-color: transparent;
    width: 180px;
    height: auto;
    padding-right: 44px;
}

.nav__search-bar i {
    margin: 0 auto;
    color: #767585;
    font-size: 14px;
}

.noTextBorder {
    border: none;
    width: 100%;
    font-size: 16px;
    padding: 0 12px;
}

.nav__search-bar {
    width: auto;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.search-bar__label {
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    border: 1px solid #dbdae3;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border-right: 2px solid #dbdae3;
}

.search-bar__label i,
.search-bar__location i.fa-location-dot {
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 12px;
}

.search-bar__location {
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    border: 1px solid #dbdae3;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

.fa-magnifying-glass.primary--search {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar__location button {
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 50%;
    width: 60px;
    height: 35px;
    background-color: #cc3f24;
    margin-right: 4px;
}

.nav__links--container ul{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: ;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    gap: 40px;
    padding: 8px 0 8px 44px;
}

/*

Ribbon Styles

*/
.ribbon__container {
    background: linear-gradient(90deg, rgb(255, 192, 236) 0%, rgb(80, 107, 254) 44.23%, rgb(80, 107, 254) 100%);
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    color: white;
}
