* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*

NAVIGATION BAR STYLES

*/
.nav__wrapper {
    width: 100%;
    height: 60px;
    padding: 12px 24px;
    display: flex;
    align-items: center;
}

.nav__logo {
    padding: 10px 0;
}

.nav__logo img{
    background-color: transparent;
    width: 150px;
    height: auto;
    padding-right: 44px;
}

.nav__search-bar i {
    margin: 0 auto;
    color: #767585;
    font-size: 14px;
}

.noTextBorder {
    border: none;
}

.nav__search-bar {
    display: flex;
    align-items: center;
}

.nav__search-bar {
    width: 355px;
    height: 46px;
}

.search-bar__label {
    cursor: pointer;
    position: relative;
    width: 165px;
    height: 100%;
    display: flex;
    align-items: center;
    border: 1px solid #dbdae3;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

.search-bar__label i {
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 12px;
}

.search-bar__divider {
    width: 1px;
    height: 32;
}