* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*

NAVIGATION BAR STYLES

*/
.nav__wrapper {
    width: 1200px;
    height: 60px;
    padding: 12px 24px;
    display: flex;
}

.nav__logo {
    padding: 10px 0;
}

.nav__logo img{
    background-color: transparent;
    width: 150px;
    height: auto;
    padding-right: 44px;
}

.nav__wrapper i {
    color: gray;
}

.noTextBorder {
    border: none;
}

.nav__search-bar {
    display: flex;
    align-items: center;
}

.nav__search-bar {
    width: 355px;
    height: 46px;
}

.search-bar__label {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
}

